/*
 * Copyright (c) 2023 STMicroelectronics
 *STM32_DMA_PRIORITY_VERY_HIGH
 * SPDX-License-Identifier: Apache-2.0
 */

&usart1 {
	dmas = <&gpdma1 0 12 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH)
			&gpdma1 1 11 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH | STM32_DMA_MODE_CYCLIC) >;
	dma-names = "tx", "rx";
	fifo-enable;
};

&gpdma1 {
	status = "okay";
};
